@import url('https://fonts.googleapis.com/css2?family=Scheherazade+New&display=swap');

:root {
    --primary-color: #059669;
    --darker-color: #064E3B;
    --light-green: #A7F3D0;
}

body {
    font-family: 'Scheherazade New', serif;
    background-color: var(yellow);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }


  .container {
    margin: 0rem auto 7rem;
    text-align: center;
  }

.nav {
    background-color: var(--primary-color);
    height: 6rem;
    border-bottom-left-radius: 2rem;
    border-bottom: 5px solid var(--darker-color);
}

.heading {
    font-weight: 10000;
    padding-top: 0.8rem;
}

.description {
    font-size: larger;
    margin: 1rem;
  }
  
  .input-label {
    display: block;
    font-size: large;
    font-weight: 600;
  }
  
  .input {
    font-size: 14px;
    outline: rgb(236, 21, 21);
    padding: 0.6rem 1rem;
    margin: 1rem;
    border: 2px solid var(--primary-color);
    border-radius: 0.5rem;
    width: 100%;
    max-width: 258px;
  }

  .input-label {
    display: block;
    font-size: large;
    font-weight: 600;
  }

#check-button, #next {
    background: var(--darker-color);
    border: none;
    color: rgb(226, 24, 24);
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    font-size: large;
    cursor: pointer;
    outline: rgb(250, 22, 22);
    margin: auto;
    display: block;
  }

  #error-message {
    display: block;
    font-size: larger;
    margin: 1rem 0 0;
  }

/* Table */
.change-table {
    width: 70%;
    text-align: justify;
    border-collapse: collapse;
    margin: auto;
  }
  
  .change-table caption {
    margin: 1rem auto;
    font-size: x-large;
    font-weight: 500;
  }

  th,
  td {
  border: 2px solid var(--darker-color);
  width: 0%;
  border-collapse: collapse;
  padding: 0.5rem;
}

/* footers */

.footer {
    background-color: var(--primary-color);
    border-top-left-radius: 2rem;
    border-top: 5px solid var(--darker-color);
    padding: 1rem 1rem;
    text-align: center;
    color: rgb(118, 14, 255);
    bottom: opx;
}

.footer .footer-header {
    font-weight: bold;
    font-size: large;
}

.footer .link {
    color: rgb(223, 20, 20);
}

.footer ul {
    padding-inline-start: 0px;
}

/* links */
.link {
    text-decoration: none;
    padding: 0.5rem 1rem;
}

.link-primary {
    background-color:var(--primary-color);
    border-radius: 0.5rem;
    color:white;
}

.link-secondary {
    color: var(--primary-color);
    border-radius: 0.5rem;
    border: 1px solid var(--primary-color); 
}


/* lists */
.list-non-bullet {
    list-style: none;
}

.list-item-inline {
    display: inline;
    padding: 0rem 0.5rem;
}
